
body {
  position: relative;
}

h5{
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.hero-img1{
background-image: url("mainHero1.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

.img-main{
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 350px;
    max-width: 250px;
}

.move-down{
    transform: translate(0, 25%)
}